langchain-docling
langchain-huggingface
langchain-community
langchain-ollama
qdrant-client[fastembed]
langgraph-supervisor
langchain-google-genai
langhain-groq
tavily-python
python-dotenv
rich
requests
sentence-transformers
mem0ai
pymongo
langgraph-checkpoint-mongodb
boto3
minio